<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>What</title>
</head>

<body>
    <h1> Hi, {{ user }}! </h1>

    <h3> Products </h3>
    {% if products %}
    <ul>
        {% for product in products %}
            <li>{{ product.variants.0.inventory_management }}</li>
            <li>{{ product.variants.0.inventory_quantity }}</li>
        {% endfor %}
    </ul>
    {% endif %}
<!--
    {% if collect %}
    <ul>
        {% for col in collect %}
            <li>{{ col.collection_id }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if orders %}
    <ul>
        {% for order in orders %}
            <li>{{ order.anything }}</li>
        {% endfor %}
    </ul>
    {% endif %}
-->
</body>
</html>